{% extends "base.html" %}
{% load static %}
{% block title %}CosmosBeauty | Order Complete{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row d-flex d-flex justify-content-center text-center">
        <div class="col text-center">
            <h1>500, Server Error</h1>
            <p>Kindly select one of the option from below.</p><hr>
            <a class="btn btn-dark btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'home' %}" role="button">Home</a><br>
            <a class="btn btn-dark btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'myorders' %}" role="button">View orders list</a><br>
            <a class="btn btn-dark btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'specialoffers' %}" role="button">See whats on sale</a><br>
            <a class="btn btn-dark btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'wishlist' %}" role="button">Go to wishlist</a><br>
        </div>
    </div>
</div>
{% endblock %}