{% extends "base.html" %}
{% block title %}CosmosBeauty | My Orders{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% if get_products %}
                {% for product_key, product_data in get_products.items %}
                    <h2 class="text-center mb-4">Order No: {{ product_key }}</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Remove Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form_instance in product_data.form_instances %}
                                    <tr>
                                        <td>
                                            {% if "placeholder" in form_instance.instance.product_info.image.url %}
                                                <img src="https://images.pexels.com/photos/1926620/pexels-photo-1926620.jpeg" class="rounded-start p-3" alt="Placeholder Image" style="max-width: 100px; max-height: 100px;">
                                            {% else %}
                                                <img src="{{ form_instance.instance.product_info.image.url }}" class="rounded-start p-3 img-fluid" alt="Product image" style="max-width: 100px; max-height: 100px;">
                                            {% endif %}
                                        </td>
                                        <td>{{ form_instance.instance.product_info.name }}</td>
                                        <td>
                                            <form method="POST" class="d-flex flex-column align-items-center justify-content-center">
                                                {% csrf_token %}
                                                <input type="number" name="quantity" min="1" max="10" value="{{ form_instance.instance.quantity }}" class="form-control mx-2 mb-2">
                                                <input type="hidden" name="product_instance_id" value="{{ form_instance.instance.id }}">
                                                <button type="submit" class="hvr-sweep-to-right btn btn-dark btn-lg">Update</button>
                                            </form>
                                        </td>
                                        <td>{{ form_instance.instance.prod_total }}</td>
                                        <td>
                                            {% if product_data.form_instances|length == 1 %}
                                                <a href="/cancel-order/{{ product_key }}" class="hvr-sweep-to-right btn btn-dark btn-lg">Remove</a>
                                            {% else %}
                                            <a href="/remove-product/{{ product_key }}/{{ form_instance.instance.prod_total }}/{{ form_instance.instance.product_info.id }}" class="hvr-sweep-to-right btn btn-dark btn-lg">Remove</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-3">
                        <a href="/cancel-order/{{ product_key }}" class="hvr-sweep-to-right btn btn-dark btn-lg">Cancel this order</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <p>No orders available.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
