{% extends "base.html" %}
{% load static %}
{% block title %}CosmosBeauty | Order Complete{% endblock %}
{% block content %}
<!-- Order Complete -->
<div class="container my-3">
    <div class="jumbotron" style="background-image: url('{% static 'images/dhl.webp' %}')">
        <div>
            <h1 class="display-4">Congratulations! Order Placed Successfully.</h1>
            <p class="lead">Note that currently we are only using COD (cash on delivery), so kindly keep payment ready on DHL courier arrival. Thank you.</p>
            <hr class="my-4">
            <p>You will receive your order in 3 to 5 days.</p>
            <hr class="my-4">
            <a class="btn btn-light btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'myorders' %}" role="button">View orders list</a><br>
            <a class="btn btn-light btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'specialoffers' %}" role="button">See what's on sale</a><br>
            <a class="btn btn-light btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'wishlist' %}" role="button">Go to wishlist</a><br>
            <a class="btn btn-light btn-lg mb-2 button-width hvr-sweep-to-right" href="{% url 'home' %}" role="button">Home</a>
        </div>
    </div>
</div>
{% endblock %}