{% extends "base.html" %}
{% block title %}CosmosBeauty | All Products{% endblock %}
{% block content %}
<!-- Products List -->
<div class="container mt-4 mr-1">
    <h1>Products List</h1>
    <div class="row mb-4">
        {% if product_list %}
        {% for product in product_list %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
            <a href="{% url 'product_detail' product.slug %}" aria-label="{{ product.name }}">
                <div class="card h-100 product-card">
                    {% if "placeholder" in product.image.url %}
                    <img src="https://res.cloudinary.com/dgdejjc6n/image/upload/v1701363761/image-backup_u5xvnv.webp" class="card-img-top"
                        alt="Placeholder Image with two makeup brushes with black background">
                    {% else %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="The image of {{ product.name }} with white background">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title fs-6 text-truncate" title='{{ product.name }}'><strong>{{ product.name }}</strong>
                        </h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Product in stock:</strong> {{ product.stock }}</li>
                        <li class="list-group-item"><strong>Price:</strong> {{ product.price }}&euro;</li>
                        {% if product.discount_name.discount_percentage > 0 %}
                        <li class="list-group-item"><strong>Discount:</strong> <mark>{{product.discount_name.discount_percentage }}%
                            off</mark>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <p>Sorry, No items related to this search.</p>
        {% endif %}
    </div>
</div>
{% include "paginator.html" %}
{% endblock content %}