{% extends "base.html" %}
{% block title %}CosmosBeauty | All Products{% endblock %}

{% block content %}

<!-- Looping -->
<div class="container mt-4 mr-1">
  <div class="row mb-4">
    {% for product in product_list %}
    <!-- col-12 col-sm-6 col-md-4 col-lg-3 h-100 w-auto -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
      <a href="{% url 'product_detail' product.slug %}">
        <div class="card h-100" id ="product-card">
          {% if "placeholder" in product.image.url %}
            <img src="https://images.pexels.com/photos/1926620/pexels-photo-1926620.jpeg" class="card-img-top" alt="Placeholder Image">
          {% else %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="Product image">
          {% endif %}
          <div class="card-body">
            <!-- FIX TRUNCATE TEXT ... -->
            <h5 class="card-title fs-6 text-truncate"><strong>{{ product.name }}</strong></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Product in stock:</strong> {{ product.stock }}</li>
            <li class="list-group-item"><strong>Price:</strong> {{ product.price }}&euro;</li>
            {% if product.discount_name.discount_percentage > 0 %}
            <li class="list-group-item"><strong>Discount:</strong> <mark>{{product.discount_name.discount_percentage }}% off</mark></li>
            {% endif %}
          </ul>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link ">&laquo; Previous </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}