{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}CosmosBeauty | Checkout{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card p-3 border-dark text-center">
        <h2>Shipment Details</h2>
    </div>
    <form method="POST" class="mt-3">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-sm-10">
                {% crispy form %}
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <button type="submit" class="hvr-sweep-to-right btn btn-dark btn-lg">
                        Finish Order
                    </button>
                </div>      
            </div>
        </div>
    </form>
</div>
{% endblock %}