{% extends "base.html" %}
{% block title %}CosmosBeauty | All Products{% endblock %}

{% block content %}
<!-- List of products in wishlist -->
<div class="container mt-4 mr-1">
    <div class="row mb-4">
        <h1>Wishlist</h1>
        {% if wishlist %}
        {% for item in wishlist %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
            <a href="{% url 'product_detail' item.wish.slug %}" aria-label="{{ item.wish.name }}">
                <div class="card h-100" id="product-card">
                    {% if "placeholder" in item.wish.image.url %}
                    <img src="https://res.cloudinary.com/dgdejjc6n/image/upload/v1701363761/image-backup_u5xvnv.webp" class="card-img-top"
                        alt="Placeholder Image with two makeup brushes with black background">
                    {% else %}
                    <img src="{{ item.wish.image.url }}" class="card-img-top" alt="The image of {{ item.wish.name }} with white background">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title fs-6 text-truncate" title='{{ item.wish.name }}'><strong> {{ item.wish.name }}</strong>
                        </h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Product in stock:</strong> {{ item.wish.stock }}</li>
                        <li class="list-group-item"><strong>Price:</strong> {{ item.wish.price }}&euro;</li>
                    </ul>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <p>You have no products in wishlist.</p>
        {% endif %}
    </div>
</div>
{% include "paginator.html" %}
{% endblock content %}